<h1 class='page-header'>History</h1>

<div class="alert alert-warning" role="alert">This is a sample page. Replace link in the header with your own.</div>


<table class=" table table-striped sortable">
  <thead>
    <tr>
      <th>Date Played</th>
      <th>Winning Player</th>
      <th>Losing Player</th>
      <th>Score</th>
    </tr>
  </thead>

 <tbody>
   <% @games_played.each do |gp| %>
     <tr>
      <td><%= gp.date_played %></td>
      <td><%= gp.winning_user.email %></td>
      <td><%= gp.losing_user.email %></td>
      <td><%= gp.winning_user_score %>-<%= gp.losing_user_score %></td>
    </tr>
   <% end %>
 </tbody>

